.note {
    background: $note-color;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    min-width: 4rem;
    width: 13rem;
    max-width: 13rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    position: relative; 
  
    .warning {
      position: relative;
      padding-right: 2rem; 
      overflow: hidden; 
      flex-grow: 1; 
  
      p {
        margin: 0.5rem 0;
        line-height: 1.5;
        word-break: break-word; 
      }
  
      .deleteBtnFront {
        position: absolute;
        top: 0.5rem; 
        right: 0.5rem; 
        z-index: 2; 
      }
  
      .editBtn {
        background-color: $cancel-color;
        color: $note-title;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        font-size: 1rem;
        align-self: center;
        margin-top: 1rem;
        &:hover {
          background-color: darken($cancel-color, 10%);
        }
      }
    }
  
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  