// Colors

$primary-color: #00324C;
$secondary-color: #fff;

$note-title: #333;


$delete-color: #f44336;
$cancel-color: #e0e0e0;
$cancel-color-hover: #bdbdbd;
$saved-color: #4caf50;

$note-color: #fffae6;
$background-color: linear-gradient(90deg, rgba(0,3,36,1) 0%, rgba(9,60,121,1) 41%, rgba(0,255,253,1) 100%);;